@mixin icon-size($size, $left, $background-size: 25px) {
  position: absolute;
  background-size: $background-size;
  height: $size;
  width: $size;
  left: $left;
}

 @mixin work-logos($file, $color, $left: -60px)  {
  &::before {
    background: url('../images/#{$file}.svg') no-repeat center $color;
    @include icon-size(40px, $left);
    content: '';
    border-radius: 50%;
  }
}
