.skills {
  flex-basis: 50%;
  border-left: 1px dashed $pink;
  padding-left: 40px;
  p {
    margin: 0;
  }
}

//Main categories logos
@each $logo in $logos {
  .skills__#{$logo}--logo {
    min-height: 35px;
    @include work-logos($logo, $pink);
  }
}

.skill__name {
  @extend %titles;

  &::before {
    background: url('../images/bookmark.svg') no-repeat;
    @include icon-size(17px, -40px, 17px);
    content: '';
    transform: rotate(-90deg);
  }
}

//Bookmarks
.skills__work {
  position: relative;
  span {
    display: inline-block;
  }
}

//vub logo
.skills__education {
  position: relative;
}

.skills__certificates {
  position: relative;
  margin-bottom: 30px;
  li {
    margin-bottom: 20px;
    position: relative;
  }
  ol {
    margin-top: 28.8px;
  }
}

.certificate__name {
  @each $certificate in $certificate-list {
    &--#{$certificate} {
      @extend %titles;
      position: relative;
      @include work-logos($certificate, $grey);

      &::before {
        top: -7px;
      }
    }

    &--oracle::before {
      background-size: 42px;
    }
  }
}
