@import url('https://fonts.googleapis.com/css?family=Roboto');

$pink: #A12750;
$light-pink: lighten($pink, 7%);

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem "Roboto", sans-serif;
  line-height: 1.5;
  text-align: justify;
  margin-top: 0;
  border-top: 5px solid $pink;
  margin-bottom: 2em;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

main {
  padding-top: 2.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3em;
  .about {
    flex-basis: 35%;
    p {
      margin-bottom: 0.7em;
    }
  }
  .skills {
    flex-basis: 55%;
    border-left: 1px dashed $pink;
    padding-left: 40px;
    p {
      margin: 0;
    }
  }
  @media screen and (max-width: 550px) {
    .skills {
      margin-top: 50px;
    }
    .about, .skills {
      flex-basis: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
    h1 {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 551px) {
    h1 {
      font-size: 3rem;
    }
  }
}

.about--portrait {
  text-align: center;
  margin-bottom: 1.9em;
  h1 {
    color: $pink;
    margin: 0;
  }
  h2 {
    color: $light-pink;
    margin: 0;
  }
  img {
    border-radius: 50%;
    margin-top: 20px;
  }
}

@mixin icon-size($size, $left) {
  position: absolute;
  background-size: 30px;
  height: $size;
  width: $size;
  left: $left;
}

$contact-items: born, phone, github, address;

address {
  font-style: normal;
  margin-top: 3em;

  @each $contact-item in $contact-items {
    .contact--#{$contact-item} {
      position: relative;
      padding-left: 2.8em;

      &::before {
        content: url("../images/#{$contact-item}.svg");
        background-color: $pink;
        @include icon-size(40px, 0);
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}

@mixin work-logos($file) {
  width: 35px;
  height: 35px;
  &::before {
    background: url('../images/#{$file}.svg') no-repeat $pink;
    @include icon-size(36px, -60px);
    border-radius: 50%;
    content: '';
  }
}

$logos: work, certificates, education;

@each $logo in $logos {
  .skills__#{$logo}--logo {
    @include work-logos($logo);
  }
}

%titles {
  color: $pink;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0.2em;
}

.skill__name {
  @extend %titles;
  &--oracle::before { //TODO doesn't work
    background-size: 30px;
    height: 30px;
    width: 30px;
  }
}

ol {
  list-style-type: none;
  margin-top: 1em;
  padding: 0;
  li {
    margin-bottom: 1.8em;
  }
}

$certificate-list: google, udacity, oracle;
.skills {
  &__work {
    position: relative;
    .skill__name::before {
      background: url('../images/bookmark.svg') no-repeat;
      @include icon-size(20px, -40px);
      content: '';
      transform: rotate(-90deg);
    }
  }

  &__education {
    position: relative;
    .skill__name::before {
      background: url('../images/VUB.svg') no-repeat;
      @include icon-size(25px, -42px);
      content: '';
    }
  }

  &__certificates {
    position: relative;
    li {
      margin-bottom: 0.6em;
    }
    .skill__name {
      @each $certificate in $certificate-list {
        &--#{$certificate} {
          @extend %titles;

          &::before {
            background: url('../images/#{$certificate}.svg') no-repeat;
            @include icon-size(25px, -42px);
            content: '';
          }
        }
      }
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i}::after {
    $value: ($i * 1%);
    width: $value;
  }
}

.skills__graph {
  margin-top: 6%;
}

dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 0;
}

dt {
  align-self: flex-start;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-left: 130px;
}

dd {
  margin: 0;
}

.text {
  display: flex;
  align-items: center;
  background-color: white;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.percentage {
  font-size: 1.2rem;
  width: 100%;
  height: 30px;
  margin-left: 100px;

  &::after {
    content: ' ';
    display: block;
    background-color: $pink;
    width: 50px;
    height: 90%;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
  }
}

#map {
  width: 100%;
  height: 400px;
}





