@import url("https://fonts.googleapis.com/css?family=Roboto");
.skill__name, .certificate__name--google, .certificate__name--udacity, .certificate__name--oracle, .skills .online #title, .skills__certificates .skill__name--google, .skills__certificates .skill__name--udacity, .skills__certificates .skill__name--oracle, h4 {
  color: #A12750;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 3.2px; }

.about {
  flex-basis: 40%; }
  .about p:first-of-type {
    margin-bottom: 27px; }

.about--portrait {
  text-align: center;
  margin-bottom: 30px; }
  .about--portrait img {
    border-radius: 50%;
    margin-top: 20px; }

address {
  font-style: normal;
  margin: 50px 0 50px 50px;
  max-width: 90%;
  position: relative; }
  address .born--logo {
    width: 10px;
    height: 10px;
    position: relative;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: 10px; }
    address .born--logo::before {
      background: url("../images/born.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%; }
  address .phone--logo {
    width: 10px;
    height: 10px;
    position: relative;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: 10px; }
    address .phone--logo::before {
      background: url("../images/phone.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%; }
  address .github--logo {
    width: 10px;
    height: 10px;
    position: relative;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: 10px; }
    address .github--logo::before {
      background: url("../images/github.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%; }
  address .address--logo {
    width: 10px;
    height: 10px;
    position: relative;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: 10px; }
    address .address--logo::before {
      background: url("../images/address.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%; }

.title {
  font-weight: bold;
  color: #be2e5e; }

.graphs {
  display: flex;
  background-color: white;
  flex-direction: column;
  position: relative; }

.percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 75%;
  height: 25px;
  margin-left: 90px; }
  .percentage__text {
    font-weight: 600;
    text-align: right;
    height: 30px;
    width: 100px;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 8px 20px 8px 0; }
  .percentage__bar {
    display: block;
    background-color: #A12750;
    margin-bottom: 10px;
    height: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.skills {
  flex-basis: 50%;
  border-left: 1px dashed #A12750;
  padding-left: 40px; }
  .skills p {
    margin: 0; }

.skills__work--logo {
  width: 35px;
  height: 35px; }
  .skills__work--logo::before {
    background: url("../images/work.svg") no-repeat center #A12750;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%; }

.skills__certificates--logo {
  width: 35px;
  height: 35px; }
  .skills__certificates--logo::before {
    background: url("../images/certificates.svg") no-repeat center #A12750;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%; }

.skills__education--logo {
  width: 35px;
  height: 35px; }
  .skills__education--logo::before {
    background: url("../images/education.svg") no-repeat center #A12750;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%; }

.skill__name::before {
  background: url("../images/bookmark.svg") no-repeat;
  position: absolute;
  background-size: 17px;
  height: 17px;
  width: 17px;
  left: -40px;
  content: '';
  transform: rotate(-90deg); }

.skills__work {
  position: relative; }
  .skills__work span {
    display: inline-block; }

.skills__education {
  position: relative; }
  .skills__education .skill__name::before {
    background: url("../images/vub.svg") no-repeat center #efefef;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%; }

.skills__certificates {
  position: relative;
  margin-bottom: 30px; }
  .skills__certificates li {
    margin-bottom: 20px; }
  .skills__certificates ol {
    margin-top: 28.8px; }

.certificate__name--google::before {
  background: url("../images/google.svg") no-repeat center #efefef;
  position: absolute;
  background-size: 25px;
  height: 40px;
  width: 40px;
  left: -60px;
  content: '';
  border-radius: 50%; }

.certificate__name--udacity::before {
  background: url("../images/udacity.svg") no-repeat center #efefef;
  position: absolute;
  background-size: 25px;
  height: 40px;
  width: 40px;
  left: -60px;
  content: '';
  border-radius: 50%; }

.certificate__name--oracle::before {
  background: url("../images/oracle.svg") no-repeat center #efefef;
  position: absolute;
  background-size: 25px;
  height: 40px;
  width: 40px;
  left: -60px;
  content: '';
  border-radius: 50%; }

.map {
  width: 100%;
  height: 400px;
  margin-top: 40px; }

html {
  font-size: 62.5%; }

body {
  max-width: 100%;
  font: 1.5rem "Roboto", sans-serif;
  line-height: 1.5;
  text-align: justify;
  margin-top: 0;
  border-top: 5px solid #A12750;
  margin-bottom: 32px; }

.container {
  max-width: 85%;
  margin: 0 auto; }

h1 {
  color: #A12750;
  margin: 0;
  font-size: 3rem; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ol li {
    margin: 0; }

main {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (max-width: 930px) {
    main .container {
      font-size: 4rem; }
    main .about, main .skills {
      flex-basis: 100%; }
    main .skills {
      margin-top: 50px;
      margin-left: 20px; } }

.about--portrait {
  text-align: center;
  margin-bottom: 30px; }
  .about--portrait img {
    border-radius: 50%;
    margin-top: 20px; }

address {
  font-style: normal;
  margin: 50px 0 50px 50px;
  max-width: 90%;
  position: relative; }
  address .contact--born {
    position: relative; }
    address .contact--born::before {
      background: url("../images/born.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%;
      top: 0; }
  address .contact--phone {
    position: relative; }
    address .contact--phone::before {
      background: url("../images/phone.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%;
      top: 0; }
  address .contact--github {
    position: relative; }
    address .contact--github::before {
      background: url("../images/github.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%;
      top: 0; }
  address .contact--address {
    position: relative; }
    address .contact--address::before {
      background: url("../images/address.svg") no-repeat center #A12750;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%;
      top: 0; }

.skills__work--logo {
  position: relative;
  width: 35px;
  height: 35px; }
  .skills__work--logo::before {
    background: url("../images/work.svg") no-repeat center #A12750;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%;
    top: 0; }

.skills__certificates--logo {
  position: relative;
  width: 35px;
  height: 35px; }
  .skills__certificates--logo::before {
    background: url("../images/certificates.svg") no-repeat center #A12750;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%;
    top: 0; }

.skills__education--logo {
  position: relative;
  width: 35px;
  height: 35px; }
  .skills__education--logo::before {
    background: url("../images/education.svg") no-repeat center #A12750;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%;
    top: 0; }

.skill__name, .certificate__name--google, .certificate__name--udacity, .certificate__name--oracle, .skills .online #title, .skills__certificates .skill__name--google, .skills__certificates .skill__name--udacity, .skills__certificates .skill__name--oracle, h4 {
  color: #A12750;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 3.2px; }

.skill__name {
  position: relative; }

.skills__work {
  position: relative; }
  .skills__work ol {
    margin-top: 16px;
    margin-left: 15px; }
    .skills__work ol li {
      margin-bottom: 28.8px; }
  .skills__work .skill__name::before {
    background: url("../images/bookmark.svg") no-repeat;
    position: absolute;
    background-size: 17px;
    height: 17px;
    width: 17px;
    left: -56px;
    content: '';
    transform: rotate(-90deg); }
  .skills__work span {
    display: inline-block; }

.skills__education {
  position: relative; }
  .skills__education .skill__name::before {
    background: url("../images/vub.svg") no-repeat center #efefef;
    position: absolute;
    background-size: 25px;
    height: 40px;
    width: 40px;
    left: -60px;
    content: '';
    border-radius: 50%;
    top: -5px; }

.skills .majors {
  font-style: italic; }

.skills .online {
  margin-top: 20px;
  margin-bottom: 20px; }
  .skills .online #school {
    font-style: italic; }

.skills__certificates {
  position: relative;
  margin-bottom: 30px; }
  .skills__certificates li {
    margin-bottom: 20px; }
  .skills__certificates ol {
    margin-top: 28.8px; }
  .skills__certificates .skill__name--google {
    position: relative; }
    .skills__certificates .skill__name--google::before {
      background: url("../images/google.svg") no-repeat center #efefef;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%;
      top: -5px; }
  .skills__certificates .skill__name--udacity {
    position: relative; }
    .skills__certificates .skill__name--udacity::before {
      background: url("../images/udacity.svg") no-repeat center #efefef;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%;
      top: -5px; }
  .skills__certificates .skill__name--oracle {
    position: relative; }
    .skills__certificates .skill__name--oracle::before {
      background: url("../images/oracle.svg") no-repeat center #efefef;
      position: absolute;
      background-size: 25px;
      height: 40px;
      width: 40px;
      left: -60px;
      content: '';
      border-radius: 50%;
      top: -5px; }

h4 {
  margin: 0; }

.title {
  font-weight: bold;
  color: #be2e5e; }

.graphs {
  display: flex;
  background-color: white;
  flex-direction: column;
  position: relative; }

.percentage {
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
  width: 75%;
  height: 25px;
  margin-left: 90px; }
  .percentage__text {
    font-weight: 600;
    text-align: right;
    height: 30px;
    width: 100px;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 8px 20px 8px 0; }
  .percentage__bar {
    display: block;
    background-color: #A12750;
    margin-bottom: 10px;
    height: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.map {
  width: 100%;
  height: 400px;
  margin-top: 50px; }
